/** generic horizontal breakpoint sizes. */
$breakpoint-desktop-wide: 1440px;
$breakpoint-desktop-normal: 1280px;
$breakpoint-desktop-narrow: 1024px;
$breakpoint-tablet-portrait: 767px;
$breakpoint-tablet-narrow: 600px;
